@{
    
}



    <h1 style="text-align:center; font-family:Pintgram-Italic">Beauty in High Definition</h1>

<p style="font-family:LittlePea-Demo-Regular; font-size:x-large"> Where’s My MUA(MakeUp-Artist) we subscribe to the belief that access to a professional makeup artist should be as convenient &amp; stress-free as possible.

Our aim is to support local artists while also meeting the demands of the Greater Birmingham area.

Whether you require a makeup artist to meet your film-production needs, or even if your desire is to treat that special girl in your life to a Sweet-Sixteen she will not soon forget, Where’s My MUA is your one stop shop. 
    <p/>




<h1 style="text-align:center; font-family:Pintgram-Italic"> How Our Process Works </h1>

<p style="font-family:LittlePea-Demo-Regular; font-size:x-large"> Licensed makeup-artist register on our site. We verify their identity &amp; ensure that they possess the proper credentials. Customers can then preview the artists’ body of work on Pinterest. Customers also have the option to search &amp; request on-demand artists willing to provide at the last minute services.


</p>



<hr/>



<h1 style="text-align:center; font-family:LittlePea-Demo-Regular">MEET THE DUO</h1>


<div class="row">
    <div class="column">
        <div class="card">
            <img src="/images/MUA_work/graphics/ZeeMoji.png" alt="AzizaEmoji" style="width:50%" class="center"> 
            <div class="container">
                <h2 style="font-family:Pintgram-Regular; color: purple">Aziza Hurt</h2>
                <p style="font-family:LittlePea-Demo-Regular; font-size:medium" class="title">CEO &amp; Software Developer</p>
                <p style="font-family:LittlePea-Demo-Regular; font-size:medium">TrueCoders graduate, music aficionado &amp; purple ethusiast.</p>
                <p style="font-family:LittlePea-Demo-Regular; font-size:medium">imazizahurt@gmail.com</p>
                <p style="font-family:LittlePea-Demo-Regular; font-size:medium; color: purple"><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

<div class="column">
    <div class="card">
        <img src="/images/MUA_work/graphics/OheneMoji.jpg" alt="OheneEmoji" style="width:50%" class="center">
        <div class="container">
            <h2 style="font-family: Pintgram-Regular; color: dodgerblue">Ohene Bonsu</h2>
            <p style="font-family:LittlePea-Demo-Regular; font-size:medium" class="title">COO &amp; Software Developer</p>
            <p style="font-family:LittlePea-Demo-Regular; font-size:medium">TruCoders graduate, occasional poet &amp; lover of all things indie.</p>
            <p style="font-family:LittlePea-Demo-Regular; font-size:medium">oheneb@gmail.com</p>
            <p style="font-family:LittlePea-Demo-Regular; font-size:medium; color: dodgerblue"><button class="button">Contact</button></p>
        </div>
    </div>
</div>









