@{
    ViewData["Title"] = "About";
}
<h2 >@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>







 


<div class="row">
    <div class="column">
        <div class="card">
            <img src="/images/MUA_work/graphics/ZeeMoji.png" alt="Jane" style="width:50%" class="center">
            <div class="container">
                <h2 style="font-family: Asimov; color: purple">Aziza Hurt</h2>
                <p class="title">CEO &amp; Senior Developer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>imazizahurt@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

<div class="column">
    <div class="card">
        <img src="/images/MUA_work/graphics/OheneMoji.jpg" alt="Mike" style="width:50%" class="center">
        <div class="container">
            <h2 style="font-family: Gabriel Weiss; color: dodgerblue">Ohene Bonsu</h2>
            <p class="title">COO &amp; Senior Developer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>oheneb@gmail.com</p>
            <p><button class="button">Contact</button></p>
        </div>
    </div>
</div>









