<form asp-action="Add" asp-controller="Artists">  <!--modified this line-->
    <fieldset>
        <legend>SIGN UP NOW:</legend>
        Name:<br>
        <input type="text" name="Name" value=""><br>
        Specialty:<br>
        <input type="text" name="Specialty" value=""><br>
        Location:<br>
        <input type="text" name="Location" value=""><br>
        Phone:<br>
        <input type="number" name="Phone" value=""><br>
        <input type="submit" value="Submit">
    </fieldset>
</form>

