@{
    ViewData["Title"] = "Keep in Touch";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    1723 Suite 4B<br />
    Birmingham, AL 35244<br />
    <abbr title="Phone">P:</abbr>
    205.555.7644
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Wheresmymua@gmail.com">Wheresmymua@gmail.com</a><br />
    <strong>Career Opportunities:</strong> <a href="mailto:Mua.hr@gmail.com">Mua.hr@gmail.com</a>
</address>
