@{
    ViewData["Title"] = "Here’s how we can be reached";
}
<h3 style="text-align:center; font-family:LittlePea-Demo-Regular">@ViewData["Message"]</h3>
<h1 style="text-align:center; font-family:Pintgram-Italic">@ViewData["Title"]</h1>


<style>
    body {
        background-image: url("/images/mua_work/graphics/wood_makeup.png");
        background-size: 100%;
        
    }
</style>

<body>
    <address style="text-align:center; font-family:LittlePea-Demo-Regular; font-size:x-large">
        1723 Suite 4B<br />
        Birmingham, AL 35244<br />
        <abbr style="font-family:LittlePea-Demo-Regular; font-size:x-large" title="Phone">P:</abbr>
        205.555.7644
    </address>

    <address style="text-align:center; font-family:LittlePea-Demo-Regular">
        <strong style="font-size:medium; text-align:center; font-family:LittlePea-Demo-Regular">Support:</strong> <a href="mailto:Wheresmymua@gmail.com">Wheresmymua@gmail.com</a><br />
        <strong style="font-size:medium; text-align:center; font-family:LittlePea-Demo-Regular">Career Opportunities:</strong> <a href="mailto:Mua.hr@gmail.com">Mua.hr@gmail.com</a>
    </address>

</body>
