@{
    ViewData["Title"] = "Where's My MUA?";
}
    <h1></h1>


    <body style="color:purple; background-color:white">
        <img src="images/MUA_work/WMMUA [Recovered].svg" alt="title" />


    </body>




